<div id="article_comments_body_content">
    {% if comments %}
        {% for comment in comments %}
            <div id="parent_comment_{{ comment.id }}">
                <div id="comment_{{ comment.id }}">
                    <p class="comment_author">{{ comment.author }} <span class="comment_date"><em>{{ comment.date | date:"d b, H:i" }}</em></span></p>
                    <p class="comment_content">{{ comment.content }}</p>
                    {% if comment.score > 0 %}
                        <span class="comment_score">{{ comment.score }}</span>
                    {% endif %}
                    <a href="javascript:void(0);" id="like_comment" class="vote_comment" data-id-comment="{{ comment.id }}"><i class="material-icons">keyboard_arrow_up</i></a>
                    <a href="javascript:void(0);" id="dislike_comment" class="vote_comment" data-id-comment="{{ comment.id }}"><i class="material-icons">keyboard_arrow_down</i></a>
                </div>
            </div>
        {% endfor %}

        <div id="article_comments_pagination">
            {% if comments.has_previous %}
                <a href="javascript:void(0);" class="comments_page mdl-button mdl-js-button mdl-button--icon" id="{{ comments.previous_page_number }}">
                    <i class="material-icons">arrow_backward</i>
                </a>

            {% else %}
                <a href="javascript:void(0);" class="mdl-button mdl-js-button mdl-button--icon disabled">
                    <i class="material-icons">arrow_backward</i>
                </a>
            {% endif %}

            <span class="current">
                <b>{{ comments.number }}</b> / {{ comments.paginator.num_pages }}
            </span>

            {% if comments.has_next %}
                <a href="javascript:void(0);" class="comments_page mdl-button mdl-js-button mdl-button--icon"  id="{{ comments.next_page_number }}">
                    <i class="material-icons">arrow_forward</i>
                </a>

            {% else %}
                <a href="javascript:void(0);" class="mdl-button mdl-js-button mdl-button--icon disabled">
                    <i class="material-icons">arrow_forward</i>
                </a>
            {% endif %}

        </div>
    {% else %}
        <p style="margin-bottom: 0;">Postez le premier commentaire !</p>
    {% endif %}
</div>