{% extends "articles/form_create_update_article.html" %}

{% block page_title %}
    Ajouter un article
{% endblock %}

{% block form_input %}Ajouter l'article{% endblock %}


{% block script %}
    <script>
        $('#id_content').trumbowyg({
            lang: 'fr',
            btnsDef: {
                // Customizables dropdowns
                formattingLight: {
                    dropdown: ['h1', 'p', 'blockquote'],
                    ico: 'formatting' // Apply formatting icon
                }
            },
            btns: [
                'formattingLight',
                '|', 'bold', 'italic', 'underline', 'strikethrough',
                '|', 'link',
                '|', 'insertImage',
                '|', 'btnGrp-lists'
            ],
            fullscreenable: false,
            autogrow: true
        });

        $('.trumbowyg-editor').attr('style', 'height: 100%');
    </script>
{% endblock %}
