{% extends "articles/form_create_update_article.html" %}
{% load bleach_tags %}

{% block page_title %}Modifier un article{% endblock %}

{% block form_input %}Modifier l'article{% endblock %}

{% block value_title %}{{ object.title }}{% endblock %}

{% block value_intro %}{{ object.intro }}{% endblock %}


{% block script %}
    <script>
        $('#id_content').trumbowyg({
            lang: 'fr',
            btnsDef: {
                // Customizables dropdowns
                formattingLight: {
                    dropdown: ['h1', 'p', 'blockquote'],
                    ico: 'formatting' // Apply formatting icon
                }
            },
            btns: [
                'formattingLight',
                '|', 'bold', 'italic', 'underline', 'strikethrough',
                '|', 'link',
                '|', 'insertImage',
                '|', 'btnGrp-lists'
            ],
            fullscreenable: false,
            autogrow: true,
            removeformatPasted: true
        });

        var content = "{{ object.content | safe }}";

        $('#id_content').trumbowyg('html', content);

        $('.trumbowyg-editor').attr('style', 'height: 100%');
    </script>
{% endblock %}
