{% load widget_tweaks %}

<form action="" method="post">
    {% csrf_token %}

    {% for field in form %}

        <div class="input">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ field|add_class:"mdl-textfield__input" }}
            <label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>

          {% if field.errors %}
              {% for error in field.errors %}
                  <p class="form_errors"><i class="material-icons">report_problem</i> {{ error }}</p>
              {% endfor %}
          {% endif %}
        </div>

    {% endfor %}

    <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="Envoyer">
</form>

{% block error_form %}{% endblock %}