/* ----------------------------
      Style partie accounts
------------------------------- */

/* ----- create_user.html ----- */

#div_form_create_user, .div_form_accounts {
  margin: auto;
  padding: 45px;
  border-radius: 2px;

  background: #454545;
}
